@{
    ViewBag.Title = "Home Page";
}
<body>
    <section>
        <div class="container">
            <div class="row m-b-30">
                <div class="col-md-8 col-md-offset-2">
                    <div class="home-wrapper text-center">
                        <div class="text-tran-box text-tran-box-dark">
                            <h2 class="text-transparent">Presto</h2>
                           
                            <!-- <a href="https://themeforest.net/item/webadmin-responsive-admin-dashboard-template/18963181?ref=themesdesign" target="_blank" class="btn btn-custom">Download Now</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="demo-box">
                        <a href="./layouts/vertical/index.html" target="_blank">
                            <img src="../assets/images/demo/index_1.jpg" alt="demo-img" class="img-responsive" />
                        </a>
                        <h4>Vertical</h4>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="demo-box">
                        <a href="./layouts/horizontal/index.html" target="_blank">
                            <img src="../assets/images/demo/index_2.jpg" alt="demo-img" class="img-responsive" />
                        </a>

                        <h4>Horizontal</h4>
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">                   
                        <div class="mini-stat clearfix bg-white">
                            <span class="mini-stat-icon bg-light"><i class="mdi mdi-cart-outline text-danger"></i></span>
                            <div class="mini-stat-info text-right text-muted">
                                <span class="counter text-danger">15852</span>
                                Total Sales
                            </div>
                            <p class="mb-0 m-t-20 text-muted">Total income: $22506 <span class="pull-right"><i class="fa fa-caret-up m-r-5"></i>10.25%</span></p>
                        </div>                   
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright">© 2018 Themesdesign.</p>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </footer>
</body>