@{
    ViewBag.Title = "Home Page";
}
<body>
    <section>
        <div class="container">
            <div class="row m-b-30">
                <div class="col-md-8 col-md-offset-2">
                    <div class="home-wrapper text-center">
                        <div class="text-tran-box text-tran-box-dark">
                            <h2 class="text-transparent">Presto</h2>
                           
                            <!-- <a href="https://themeforest.net/item/webadmin-responsive-admin-dashboard-template/18963181?ref=themesdesign" target="_blank" class="btn btn-custom">Download Now</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="demo-box">
                        <a href="./layouts/vertical/index.html" target="_blank">
                            <img src="../assets/images/demo/index_1.jpg" alt="demo-img" class="img-responsive" />
                        </a>
                        <h4>Emprestar instrumentos</h4>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="demo-box">
                        <a href="./layouts/horizontal/index.html" target="_blank">
                            <img src="../assets/images/demo/index_2.jpg" alt="demo-img" class="img-responsive" />
                        </a>

                        <h4>Procurar instrumentos</h4>
                    </div>
                </div>                
            </div>           
        </div>
    </section>
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright">© 2018 Themesdesign.</p>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </footer>
</body>